{% extends 'base.html.twig' %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('CSS/StyleBase.css') }}">#}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div id="formulaire">
{#        #}{#        {{ form_row(registrationForm.username) }}#}
{#        #}{#        {{ form_row(registrationForm.nom) }}#}
{#        #}{#        {{ form_row(registrationForm.prenom) }}#}
{#        #}{#        {{ form_row(registrationForm.mail) }}#}
{#        #}{#        {{ form_row(registrationForm.telephone) }}#}
{#        #}{#        {{ form_row(registrationForm.campus) }}#}
{#        #}{#        {{ form_row(registrationForm.password, #}{#}#}
{#        #}{#            label: 'Password'#}
{#        #}{#        }) }}#}
{#        #}{#        {{ form_row(registrationForm.agreeTerms) }}#}
        <input class="c-checkbox" type="checkbox" id="start">
        <input class="c-checkbox" type="checkbox" id="progress2">
        <input class="c-checkbox" type="checkbox" id="progress3">
        <input class="c-checkbox" type="checkbox" id="progress4">
        <input class="c-checkbox" type="checkbox" id="progress5">
        <input class="c-checkbox" type="checkbox" id="progress6">
        <input class="c-checkbox" type="checkbox" id="progress7">
        <input class="c-checkbox" type="checkbox" id="progress8">
        <input class="c-checkbox" type="checkbox" id="finish">
        <div class="c-form__progress"></div>

        <div class="c-formContainer">
            <div class="c-welcome">Welcome aboard!</div>
            {{ form_start(registrationForm, {'attr': {'class': "c-form", "action": '{{path(login_sortir)}}'}}) }}
                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.username) }}">
                        <input
                                type="text"
                                id="{{ field_name(registrationForm.username) }}"
                                class="c-form__input"
                                placeholder=" "
                                required
                        >
                        {% for error in field_errors(registrationForm.username) %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}

                        <label class="c-form__next" for="progress2" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Pseudo ...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.nom) }}">
                        <input
                                type="text"
                                id="{{ field_name(registrationForm.nom) }}"
                                class="c-form__input"
                                placeholder=""
                                required>

                        <label class="c-form__next" for="progress3">
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Nom...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.prenom) }}">
                        <input
                                type="text"
                                id="{{ field_name(registrationForm.prenom) }}"
                                class="c-form__input"
                                placeholder=" "
                                required>

                        <label class="c-form__next" for="progress4" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Prenom...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.mail) }}">
                        <input
                                type="email"
                                id="{{ field_name(registrationForm.mail) }}"
                                class="c-form__input"
                                placeholder=""
                                required>

                        <label class="c-form__next" for="progress5" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Mail...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.telephone) }}">
                        <input
                                type="text"
                                id="{{ field_name(registrationForm.telephone) }}"
                                class="c-form__input"
                                placeholder=" "
                                required>

                        <label class="c-form__next" for="progress6" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Téléphone...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.campus) }}">
{#                        <input#}
{#                                type="checkbox"#}
{#                                id="{{ field_name(registrationForm.campus) }}"#}
{#                                class="c-form__input"#}
{#                                placeholder=""#}
{#                                required>#}
                        <select
                                id="{{ field_name(registrationForm.campus) }}"
                                class="c-form__input"
                                required>
                            {% for choix in campus %}
                            <option name="{{ choix.nom}}">
                                {{ choix.nom }}
                            </option>
                            {% endfor %}
                        </select>

                        <label class="c-form__next" for="progress7" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Campus...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.password) }}">
                        <input
                                type="password"
                                id="{{ field_name(registrationForm.password) }}"
                                class="c-form__input"
                                placeholder=" "
                                required>

                        <label class="c-form__next" for="progress8" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">Mot de passe...</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <label class="c-form__label" for="{{ field_name(registrationForm.agreeTerms) }}">
                        <input
                                type="checkbox"
                                id="{{ field_name(registrationForm.agreeTerms) }}"
                                class="c-form__input"
                                placeholder=" "
                                required>

                        <label class="c-form__next" for="finish" >
                            <span class="c-form__nextIcon"></span>
                        </label>

                        <span class="c-form__groupLabel">AgreeTerms</span>
                        <b class="c-form__border"></b>
                    </label>
                </div>

                <div class="c-form__group">
                    <a href="{{ path('login_sortir') }}">
                        <label class="c-form__label" for="valider">
                            <input
                                    type="submit"
                                    id="Valider"
                                    class="c-form__input"
                                    placeholder=" "
                                    required>

                            <label class="c-form__next" for="finish" >
                                <span class="c-form__nextIcon"></span>
                            </label>

                            <span class="c-form__groupLabel">Valider</span>
                            <b class="c-form__border"></b>
                        </label>
                    </a>
                </div>

                <label class="c-form__toggle" for="start">Enregistrer<span class="c-form__toggleIcon"></span></label>
            {{ form_end(registrationForm) }}
        </div>

    </div>

    <div id="annuler">
        <a href="{{ path('sortir_accueil') }}"><button>Annuler</button></a>
    </div>

{% endblock %}
