{% extends 'base.html.twig' %}

{% block body %}
<div class="Accueil">
    <div class=" filtre">
        <h3> Filtrer vos sorties</h3>

        {{ form_start(searchForm)}}
        {{ form_row(searchForm.nom) }}
        <label>Campus </label>
        {{ form_row(searchForm.campus) }}
        {{ form_row(searchForm.dateDebut) }}
        {{ form_row(searchForm.dateFin) }}
        {{ form_row(searchForm.organisateur) }}
        {{ form_row(searchForm.inscrit) }}
        {{ form_row(searchForm.NonInscrit) }}
        {{ form_row(searchForm.sortiePassee) }}
        <input type="submit" value="Rechercher" />
        {#        {{ form_widget(searchForm) }}#}
        {{ form_end(searchForm) }}
    </div>
    <div class="listesorties">
        <h3>  Les sorties </h3>

        {% for chaquesortie in sorties %}
            <div>
                <ul>
                    <li><a href="{{path('sortie_detail',{'sortie':chaquesortie.id}) }}">{{ chaquesortie.nom}}</a></li>
                    <li> {{ chaquesortie.lieu.nom}} </li>
                    <li>{{ chaquesortie.infosSortie}}</li>
                    <li>{{ chaquesortie.dateHeureDebut|date ('Y-m-d H:i:s') }}  </li>
                    <li>{{ chaquesortie.dateLimiteInscription|date ('Y-m-d H:i:s') }}  </li>
                    <li> {{ chaquesortie.participants.count()}} / {{ chaquesortie.nbInscriptionMax }}</li>
                    <li>  {{chaquesortie.etat.libelle }} </li>
                    <li><a href="{{ path('sortir_detailProfil', {'utilisateur': chaquesortie.organisateurs.id}) }}">{{ chaquesortie.organisateurs.username }}</a></li>
                    {#                {{app.user.nom }}#}
                    {% for chaqueparticipant in chaquesortie.participants %}
                        {% if app.user == chaqueparticipant %}
                            <li><a href="{{path('sortie_sedesinscrire',{'sortie':chaquesortie.id})}}" onclick="return confirm('Etes-vous sûre de vouloir vous désinscrire?')"> Se désincrire...</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <button type="submit"><a href="{{ path('sortie_ajouter') }}">Créer une sortie</a></button>
</div>

{% endblock %}

{% block title %}

{% endblock %}


