{% extends 'base.html.twig' %}

{% block nav1 %}
    <a href="{{ path('sortie_lister') }}"><li>Accueil</li></a>
{% endblock %}

{% block body %}
   <div class="titreDetails" id="detail_h2">
        <h2> Détail complet de la sortie : </h2>
        <h2> {{ sortie.nom }} </h2>
   </div>
<div id="formulaire_register" class="container card p-32 mt-64 mb-64 fromu1" >
        <div class="form__group field ">
            <ul >
                <li>Débute à {{ sortie.dateHeureDebut | date('d-m-Y H:i') }}</li>
                </br>
                <li>Point de rencontre {{ sortie.lieu.nom | upper }} - {{ sortie.lieu.ville.codePostal}} - {{ sortie.lieu.ville.nom | upper}}</li>
               </br>
                <li>Durée : {{ sortie.duree | date('H:i') }} minutes</li>
                </br>
                <li>{{ sortie.infosSortie }}</li>
                </br>
                <li>Organisé par <a href="{{ path('sortir_detailProfil', {'utilisateur': sortie.organisateurs.id}) }}">{{ sortie.organisateurs.username }}</a> - CAMPUS {{ sortie.siteOrganisateur.nom | upper }}</li>
            </ul>
         </div>
            <div class="form__group field">
            <h5>Participants à la sortie ( date limite d'inscription {{ sortie.dateLimiteInscription | date('d-m-Y H:i') }})</h5>
            {% for participant in sortie.participants %}
                <li><a href="{{ path('sortir_detailProfil', {'utilisateur': participant.id}) }}">{{ participant.username }}</a></li>
            {% endfor %}
            </div>

    {% if sortie.dateHeureDebut >= date() or sortie.dateLimiteInscription >= date() %}
        {% if app.user is same as sortie.organisateurs %}
            {#        <button> <a href="path{{ 'sortie_annuler',{'sortie': sortie.id} }}"> Annuler la sortie </a> </button>#}
        {% else %}
            {% if sortie.participants is empty %}
                <div class="submit_ajouterLieu">
                    <button type="submit" name="ajouterLieu" value="nouveau lieu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}">S'inscrire</a>
                    </button>
                </div>
{#                <button><a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}">S'inscrire</a></button>#}
            {% else %}
                {% if app.user in sortie.participants %}
                    <div class="submit_ajouterLieu">
                        <button type="submit" name="ajouterLieu" value="nouveau lieu">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <a href="{{ path('sortie_sedesinscrire', {'sortie': sortie.id}) }}">Se désister</a>
                        </button>
                    </div>

{#                    <button><a href="{{ path('sortie_sedesinscrire', {'sortie': sortie.id}) }}"> Se desister </a></button>#}
                {% else %}
                    <div class="submit_ajouterLieu">
                        <button type="submit" name="ajouterLieu" value="nouveau lieu">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}">S'inscrire</a>
                        </button>
                    </div>

{#                    <button><a href="{{ path('sortie_inscription', {'sortie': sortie.id}) }}">S'inscrire</a></button>#}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}



    {% if app.user is same as sortie.organisateurs %}

        <div class="submit_ajouterLieu">
            <button type="submit" name="ajouterLieu" value="nouveau lieu">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <a href="{{ path('sortie_annulerMaSortie', {'sortie': sortie.id}) }}">Annuler la sortie </a>
            </button>
        </div>
{#         <a href={{ path('sortie_annulerMaSortie', {'sortie': sortie.id}) }}> Annuler la sortie </a>#}

    {% endif %}
</div>

{% endblock %}


