{% extends 'base.html.twig' %}

{% block body %}
    <h3>  Les sorties </h3>

        {% for chaquesortie in sorties %}
        <div>
            <ul>
                <li>{{ chaquesortie.nom}}</li>
                <li> {{ chaquesortie.lieu.nom}} </li>
                <li>{{ chaquesortie.infosSortie}}</li>
                <li>{{ chaquesortie.dateHeureDebut|date ('Y-m-d H:i:s') }}  </li>
                <li>{{ chaquesortie.dateLimiteInscription|date ('Y-m-d H:i:s') }}  </li>
                <li> {{ chaquesortie.participants.count()}} / {{ chaquesortie.nbInscriptionMax }}</li>
                <li>  {{chaquesortie.etat.libelle }} </li>
                <li>{{ chaquesortie.organisateurs.nom }}</li>
                <li><a href="#"> Se désincrire...</a></li>


            </ul>
        </div>
        {% endfor %}

{% endblock %}
